name: Publish homebridge-nest-accfactory

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: read

env:
  NODE_VERSION: 20
  
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npm install -g npm@latest
      - run: npm ci

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: 
          submodules: true
      
      # Extract version number from package.json
      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(grep -oP '"version": "\K(.*)(?=")' package.json)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: https://registry.npmjs.org/

      - run: npm install -g npm@latest
      - run: npm ci
      - run: |
          TAG=$(echo ${{env.VERSION}} | grep -oP '^\d+\.\d+\.\d+-?\K(\w+)?')
          npm publish --tag ${TAG:-latest} --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
